.conteudo{
 position: relative;
 
 display: flex;
 align-items: flex-start;
 justify-content: flex-end;
}

.background{
    height: 100vh;
    position: absolute;
    left: 0;
}

.info{
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
}

input,button{
    border: 1px solid #999;
    border-radius: 22px;
    margin-right: 12px;
    font-size: 18px;
    padding: 18px;
}

input{
    min-width: 250px;
    width: 80%;
    background: transparent;
}

button{
    background: #2D3338;
    color: #fff;
}